<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API-Info</title>
</head>
<body>
  <h3>Überschrift</h3>
  <h3>About         {{.APIname}}</h3>
  <h3>Port:         {{.Port}}</h3>
  <h3>Version:      {{.Version}}</h3>
  <h3>Release-Date: {{.ReleaseDate}}</h3>
  <h3>Mail:         {{.Mail}}</h3>
</body>
</html>
