<html lang="en">
    <head>
        <title>resource</title></head>
    <body>
        <h3>Resource</h3>
        <h3>ID: {{.ID}}</h3>
        <h3>Vorname: {{.Vorname}}</h3>
        <h3>Nachname: {{.Nachname}}</h3>
        <h3>Alter: {{.Alter}}</h3>
        <h3>Score: {{.Score}}</h3>
    </body>
</html>



